__pycache__
*.pyc
.ipynb_checkpoints/
static/workdir/*
easyweb/static/workdir/*
easyweb/static/internal/emails/*
celeryconfig.py
supervisord.conf
config/*
kubernetes/redis/redis.conf
kubernetes/easyweb/*
start.sh
start_worker.sh
logs/*
.idea/
versions/
venv/
dump.rdb
setup.sh
.access
*.ipynb
chart/
deploy/
kubernetes/
*.sql
easyweb/static/des_components/des-pages/des-my-tables-old.html
easyweb/static/files/
easyweb/static/internal/stats/

