pip3 install -U celery
pip3 install -U flower
pip3 install  Pillow
pip3 install  pymongo
pip3 install git+https://github.com/mailgun/expiringdict.git
pip3 install flower
pip3 install mysqlclient
pip3 install schedule 
pip3 install pyyaml
pip3 install pycrypto
pip3 install jsmin
pip3 install matplotlib
pip3 install jinja2
pip3 install git+https://github.com/mgckind/easyaccess.git -I --no-deps --force-reinstall
pip3 install cx_Oracle==5.3
pip3 install jira
pip3 install redis
pip3 install pbr
