<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="minimum-scale=1.0, initial-scale=1, user-scalable=yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="author" content="Matias Carrasco Kind, Ruiqi Li & Francisco Paz">

<title>DES Easyaccess Web</title>
<link rel="shortcut icon" href="{{ static_url('favicon.ico') }}">
<script src="/easyweb/static/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="import" href="/easyweb/static/elements/elements-built.html">
<style is="custom-style">
</style>
</head>
<body>
<des-login-public error="{{errormessage}}" next = "{{next}}" update="{{update}}" toastpass="{{toast}}" db="{{db}}"></des-login-public>
<des-credit-line version="{{version}}"></des-credit-line>
</body>
</html>
